
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #1A1B20;
    color: whitesmoke;
    font-size: 14;

}

.wrapper{
    margin: 40px;
    width: 100%;
}

#searchbox{
    background: none;
    border: 2px solid #E21616;
    border-radius: 25px;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
#searchbox img{
    margin-left: 10px;
    margin-right: 20px;
}
#searchbox input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: whitesmoke;
}

.wrapper .card-wrapper{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.card-wrapper.card-item{
    /* width: 25%; */
    padding: 100px;

}

/* Volume */
.card-item{
    position: relative;
}
.card-volume{
    position: absolute;
    right: -20px;
    top: -15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 6px;
    background-color: #E21616;
    width: max-content;
    height: 30px;
    padding: 8px 14px;
    border-radius: 15px;
}
.card-volume img{
    width: 13px;
}

.card-wrapper .card-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: auto;
}

.card-top img{
    margin-top: 25px;
    margin-bottom: 15px;
}

.card-top .card-name{
    margin-bottom: 10px;
}

.card-wrapper .card-bottom{
    background-color: #272830;
    border-radius: 0px 0px 6px 6px;
    padding: 15px;
}

.card-wrapper .card-bottom .card-name{
    text-transform: uppercase;
    text-align: center;

}
.card-wrapper .card-bottom .card-info{
    padding: 15px;
    margin: 10px 0;
    font-size: 20px;

}

.card-wrapper .card-bottom .card-info .Title{
    font-size: 20px;
    margin-bottom: 5px;
}

.card-wrapper .card-bottom .creator{
text-align: center;
}

.card-item{
    width: 250px;
    border: 1px solid rgb(165, 12, 12);
    border-radius: 6px;
}

/* Stats */
.period{
    color: #4f5270;
}
.prices{
    font-size: 20px;
    display: flex;
    column-gap: 30px;
}
.prices p{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.highest{
    color: rgb(247, 26, 26);
}
.lowest{
    color: rgb(26, 219, 90);
}