.employeeinfo{
    margin-top:-8px;
}

.employeelist{
    position: absolute;
    left: 0%;
    transform: translate(0%, 0%);
    transition: transform .5s, left .5s;
    padding-top: 30px;
}

.employeename{
    max-width: 180px;
    /* background-color: aqua; */
}

/* Delete button on card */
.delbtn{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    /* background-color: aqua; */
}
.delbtn img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.employeeform{
    top:50%;
    width: 600px;
    position: fixed;
    right: 50%;
    transform: translate(50%, -50%);
    transition: transform .5s, right .5s;
}

.offscreenright{
    top:50%;
    right: -5%;
    transform: translate(100%, -50%);
    transition: transform .5s, right .5s;
}

.offscreenleft{
    left: -100%;
    /* transform: translate(-1000%, 0%); */
    transition: transform .5s, left .5s;
}

.navborder{
    border-bottom: solid 4px #0d6efd;
}
