*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#debuggui{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    font-family: 'Lato', 'Calibri', sans-serif;
    padding: 30px;
    text-align: right;
    font-size: 14px;
    font-weight: 100;
}